<div class="post">
<div class="header">
  <h1>Post title</h1>
  <button
    routerLink="/"
    class="btn btn-link">On Home Page</button>
</div>
  <div class="info">
    <strong>Author</strong>
    <small>12.05.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, voluptates.</p>
  </div>
</div>
